<h1>지금까지 만들어진 리스트 목록입니다.</h1>
<hr>
<% @custom_list.each do |p| %> <!-- 리스트에 있는 목록을 불러옴.-->
    <p> 만든이 : <%= p.user_name %> <br> </p>
    <p> 음료명 : <%= p.title %> <br> </p>
    <p> 조  합 :</p>
    <p> 만든이 평가 : <%= p.rate %></p>
    <hr>
<%end%>